<h1 mat-dialog-title>Lease informations</h1>
<div mat-dialog-content>
  <p><span class='label'>Book leased: </span> {{data.bookTitle}}</p>
  <p><span class='label'>User: </span>{{data.user}}</p>
  <p><span class='label'>Time of leasing: </span>{{data.timeOfLease | date:'dd MMM yyyy HH:mm:ss'}}</p>
  <p><span class='label'>Due time:</span> {{data.dueTime | date:'dd MMM yyyy HH:mm:ss'}}</p>
  <p><span class='label'>Returned:</span> {{data.returned ? ' Yes' : ' No'}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" class="red">Exit</button>
  <!-- TODO : If role == admin, display-->
  <button mat-button [mat-dialog-close]="data.id" cdkFocusInitial class="green">Set as returned</button>
</div>
