.error-container {
  color: red;
}

.login-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
}

mat-card-header {
  justify-content: center;
}

table {
  width: 100%;
}

mat-form-field
{
  text-align: center;
}
