<h1 mat-dialog-title>Lease informations</h1>
<div mat-dialog-content>
  <p><span class='label'>Book leased: </span> {{data.bookTitle}}</p>
  <p><span class='label'>User: </span>{{data.user}}</p>
  <p><span class='label'>Time of leasing: </span>{{data.timeOfLease}}</p>
  <p><span class='label'>Due time:</span> {{data.dueTime}}</p>
  <p><span class='label'>Returned:</span> {{data.returned ? ' Yes' : ' No'}}</p>

  <!-- <p>Set this book as returned?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.id">
  </mat-form-field> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" class="red">Exit</button>
  <button mat-button [mat-dialog-close]="data.id" cdkFocusInitial class="green">Set as returned</button>
</div>
