<!-- <p>{{book.title}}</p> -->
<div *ngIf="book" class="container">
  <div class='media-left'>
    <img mat-card-image src="{{book.cover}}" >
  </div>
  <div class='media-right'>
    <h2>{{book.title}}</h2>
    <b>Author:</b> <span class="graycolor"> {{book.author.name}}</span>
    <p>
      {{book.summary}}
    </p>
    <button mat-button (click)="makeLease()">LEASE</button>
    <button mat-button>SHARE</button>
  </div>
</div>
<!-- <button (click)="makeLease()"> Lease this book! </button> -->
