<!-- <p>{{book.title}}</p> -->
<div *ngIf="book" class="container">

  <div class='media-left'>
    <img mat-card-image src="{{book.cover}}">
  </div>

  <div class='media-center'>
    <h2>{{book.title}}</h2>
    <div><b>Author:</b> <span class="graycolor"> {{book.author.name}}</span></div>
    <p>
      {{book.summary}}
    </p>
    <div class='buttons'>
      <button mat-button *ngIf="book.available" (click)="openDialog(book)">LEASE</button>
      <button mat-button *ngIf="!book.available" class='disabled'>LEASE</button>

      <span id='is-available'
        [ngClass]="{'success': book.available,'failed': !book.available}">{{book.available ? 'Available': 'Not available..'}}</span>
      <button mat-button>SHARE</button>
    </div>
    <div class='lease-info'>
      <p *ngIf='statusLeasing' [ngClass]="{'success': leaseSuccessful,'failed':!leaseSuccessful}">{{statusLeasing}}</p>
    </div>
  </div>

  <div class='media-right'>
    <h6>You might also like these books</h6>
    <div class='similar-books' *ngIf='similarBooks'>
      <mat-card class="example-card object-fit_scale-down" *ngFor="let b of similarBooks" routerLink="/book/{{b.id}}">
        <img class="similar-book-img" mat-card-image src="{{b.cover}}" alt="Book Cover">
        <mat-card-header>
          <mat-card-title class="example-title">{{b.title}}</mat-card-title>
          <mat-card-subtitle>{{b.author.name}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
