<div class="login-container">

  <div class="card">
    <mat-card-header>
      <mat-card-title>Sign in</mat-card-title>
    </mat-card-header>

    <form [formGroup]="credentials">
      <mat-form-field class="form-field">
        <input matInput placeholder="email" formControlName="username" type="text" required>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="password" formControlName="password" type="password" required>
      </mat-form-field>
    </form>

    <!--<mat-spinner [style.display]="validating? 'inline-block' : 'none'"></mat-spinner>-->

    <div class="controls">
      <button mat-button (click)="onSubmit()" color="primary">Create account</button>
      <button mat-flat-button (click)="onSubmit()" color="primary">Sign in</button>
    </div>
  </div>

</div>
<!--<div class='error-container'>-->
<!--  <p *ngIf="errorMessage">{{errorMessage}}</p>-->
<!--</div>-->
