<mat-toolbar class="navbar">
  <img src="https://i.ibb.co/GCpSP0B/4354312.png" routerLink="/" class='logo' alt="Logo">
  <div>
    <a mat-button routerLink="/" color="accent">
      <i class="material-icons">home</i>
      <span id="sign-in">HOME</span>
    </a>

    <a mat-button routerLink="/" color="accent">
      <i class="material-icons">contact_support</i>
      <span id="sign-in">CONTACT</span>
    </a>

    <a mat-button routerLink="/" color="accent">
      <i class="material-icons">account_circle</i>
      <span id="sign-in">SIGN IN</span>
    </a>
  </div>
</mat-toolbar>
