<div id='container'>

  <mat-progress-bar *ngIf="!catalogBooks" mode="indeterminate"></mat-progress-bar>

  <div class="search-container">
    <mat-form-field>
      <input matInput placeholder="Title">
    </mat-form-field>
  </div>
  <!-- <div id='search'>
    <input type='text' [formControl]='searchInput'>
    <button type='button'>Search</button>
  </div> -->

  <div id='book-list-container' *ngIf='catalogBooks'>
    <app-book *ngFor="let b of catalogBooks" [book]="b" routerLink="/book/b.id"></app-book>
    <!-- <li *ngFor='let book of catalogBooks'>
        <div routerLink='/book/{{book.id}}'>
          <div id='media-right'>
            <span id='show-name'>{{book.title}} </span>
          </div>
        </div>
      </li> -->
  </div>
</div>
