<div id='container'>

  <mat-progress-bar *ngIf="!catalogBooks" mode="indeterminate" color="accent">
  </mat-progress-bar>

  <div class="search-container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search book by title" [formControl]="searchInput" class="search-input">
      </mat-form-field>
    </form>

    <div class="search-results-container" *ngIf="catalogBooks && term != '' && term !== undefined">
      <ul>
        <li *ngFor="let book of catalogBooks" routerLink="/book/{{book.id}}">
          <div class="badge">
            <img mat-card-image src="{{book.cover}}">
          </div>
          <div class="book-text">
            {{book.title}}
            <span class="book-author">
              by {{book.author.name}}
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
