#container {
  display: flex;
  flex-direction: column;
}

.search-container {
  flex-direction: column;
  /* background-color: #aaa; */
  align-items: center;
  align-self: center;
  width: 100%;
  min-width: 150px;
  max-width: 500px;
  padding: 50px 0px 50px 0px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  align-self: center;
}

.example-full-width {
  width: 100%;
}

.search-results-container {
  margin-top: -19px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  align-self: center;
  margin-bottom: 50px;
  background-color: white;
  border: 1px solid rgb(67, 67, 196);
  position: absolute;
  z-index: 1000000;
  border-top: 0px;
}

ul {
  padding-left: 0px;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
}

ul li {
  list-style-type: none;
  color: black;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
}

ul li:hover {
  background: lightgray;
}

.book-author {
  color: gray;
}

.badge {
  width: 50px;
  height: 100px;
}

.badge img {
  margin: auto;
  padding: auto;
  width: 50px;
  height: 100px;
}

.book-text {
  text-align: center;
  align-self: center;
  padding-left: 6px;
}
