<div>
  <h3>Leases</h3>
</div>
<div class='leases-container'>
  <table>
    <thead>
      <th>Lease ID</th>
      <th>User</th>
      <th>Time of lease</th>
      <th>Due time</th>
      <th>Book Leased</th>
      <th>Returned?</th>

    </thead>
    <tbody>
      <tr *ngFor="let l of leases" [ngClass]="{'green': l.returned,'yellow':!l.returned,'red': isExpired(l)}">
        <td>{{l.id}}</td>
        <!-- <td>{{l.user.username}}</td> -->
        <td></td>
        <td>{{l.timeOfLease}}</td>
        <td>{{l.due_time}}</td>
        <td>{{l.inventoryBook.catalogBook.title}}</td>
        <td >{{l.returned}}</td>

      </tr>
    </tbody>
  </table>
Today date is: {{currentDate | date:'dd/MM/yyyy HH:mm:ss'}}
</div>
