.example-form, .search-container{
  width:100%;
}
.leases-container{
  padding:0px 20px 0px 20px;
}
.search-container
{
  padding:0 0 0 20px;
}
table{
  width:100%;
}

.green{
  background-color: rgb(11, 172, 11);
}
.normal{
  background-color:#fff;
}
.red{
  background-color: red;
}
.header-panel{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0px 20px 0px 20px;
}
.mat-row:hover, .mat-row:hover .mat-cell{
  background-color: #ff4081;
  color:white;
}

.mat-header-cell{
  font-weight: bolder;
}

/* table{
  border:2px solid darkgray;
  border-left:0px;
  border-right:0px;
  width:100%;
  padding:0px 20px 0px 20px;
}
table tbody tr{
  border:2px solid gray;
  text-align: center;
}
td{
  border:1px solid black;
}

thead{
  background:#ff4081;
  color:white;
} */
