<mat-toolbar class="navbar">
  <img src="https://i.ibb.co/GCpSP0B/4354312.png" routerLink="/" class='logo' alt="Logo">

  <div>
    <a mat-button routerLink="/" color="accent">
      <i class="material-icons">home</i>
      <span class="sign-in">HOME</span>
    </a>

    <a mat-button routerLink="/adminpanel" color="accent"
       color="accent" *ngIf="isAuthenticated && user.authorities[0].authority === 'ROLE_ADMIN'">
      <i class="material-icons">format_list_bulleted</i>
      <span class="sign-out">ADMIN PANEL</span>
    </a>

    <a mat-button routerLink="/userdetails"
       color="accent" *ngIf="isAuthenticated && user.authorities[0].authority === 'ROLE_USER'">
      <i class="material-icons">format_list_bulleted</i>
      <span class="sign-out">MY LEASES</span>
    </a>

    <a mat-button routerLink="/login" color="accent" *ngIf="!isAuthenticated">
      <i class="material-icons">account_circle</i>
      <span class="sign-in">SIGN IN</span>
    </a>

    <a mat-button color="accent" (click)="onSignOut()" *ngIf="isAuthenticated">
      <i class="material-icons">subdirectory_arrow_right</i>
      <span id="sign-out">SIGN OUT</span>
    </a>
  </div>
</mat-toolbar>
